/* variables, light mode */
:root {
    --blue-100: #f1f9ff;
    --blue-200: #8dd1ff;
    --blue-300: #4FADE1;
    --blue-400: #2498D6;
    --blue-500: #0A85C8;
    --blue-600: #206b8c;
    --blue-700: #046497;
    --yellow-100: #FDFD96;
    --grey: #333333;
    --black: #0c0d0e;
    --white: #fefefe;
    --bg-text-color: #EBF5FF;
    --shirt-color: #4FADE1; 
}

/* variables, dark mode */
[mode = "dark"] {
    --blue-100: #121212;
    --blue-200: #8dd1ff;
    --blue-300: #4FADE1;
    --blue-400: #6BC4FF;
    --blue-500: #8dd1ff;
    --blue-600: #409ACE;
    --blue-700: #4FADE1;
    --yellow-100: #FDFD96;
    --grey: #ACACAC;
    --black: #D7DADC;
    --white: #161616; 
    --bg-text-color: #262829;
    --shirt-color: #046497; 
}

/* font families */
/* roboto-300 */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local(""),
         url("../assets/fonts/roboto-v20-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../assets/fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(""),
         url("../assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../assets/fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local(""),
         url("../assets/fonts/roboto-v20-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../assets/fonts/roboto-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local(""),
         url("../assets/fonts/roboto-v20-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url("../assets/fonts/roboto-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* base styles */
body {
    font-family: "Roboto";
    background-color: var(--blue-100);
    font-size: 112.5%;
}

/* loading screen */
.loading-screen {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-logo {
    width: 5em;
}

.bounce {
    animation: bounce 0.9s infinite;
}

@keyframes bounce {
    0% {
        ry: 38;
        animation-timing-function: ease-out;
    } 25% {
        ry: 48.5;
    } 50% {
        transform: translateY(-5em);
        ry: 47.8;
        animation-timing-function: ease-in;
    } 100% {
        animation-timing-function: ease-out;
    }
}

/* font styles */
.nav-link {
    font-weight: 400;
    color: var(--grey);
    font-size: 1rem;
}

.nav-link:hover {
    transition: all 0.3s ease;
    color: var(--black);
}

h1 {
    font-weight: 700;
    font-size: 2.8em;
    color: var(--blue-600);
}

.welcome-text h2 {
    font-weight: 500;
    font-size: 1em;
    color: var(--black);
}

.welcome-text p {
    font-weight: 700;
    font-size: 1.667em;
    color: var(--black);
}

.section-heading {
    font-weight: 700;
    color: var(--blue-500);
    font-size: 1.5em;
    margin-bottom: 0.35em;
}

.section-text,
.markdown-content p {
    font-weight: 400;
    color: var(--black);
    font-size: 1.125em;
    margin-bottom: 0.75em;
}

.paragraph-link,
.markdown-content a {
    font-weight: 500;
    color: var(--blue-600);
    background-color: var(--bg-text-color);
    padding: 0em 0.15em;
    border-radius: 0.115em;
}

.paragraph-link:hover,
.markdown-content a:hover {
    opacity: 85%;
    transition: all 0.3s ease;
}

.project-card-body h3 {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--black);
}

.project-card-date span {
    font-size: 0.9em;
    font-weight: 400;
    color: var(--grey);
}

.project-card-description {
    font-size: 1em;
    font-weight: 300;
    color: var(--grey);
    padding: 1em 0;
}

.project-card-skills span {
    display: inline-flex;
    background-color: var(--blue-500);
    padding: 0.25em 0.5em;
    color: var(--white);
    font-weight: 400;
    font-size: 0.875em;
    margin: 0 0.1em 0.25em 0;
}

.project-card-links a {
    font-size: 1em;
    font-weight: 500;
    color: var(--blue-400);
}

.project-card-links a:hover {
    color: var(--blue-500);
    transition: all 0.5s ease;
}

footer span {
    font-weight: 400;
    font-size: 0.9em;
    color: var(--grey);
}

.footer-link {
    font-weight: 500;
    font-size: 1em;
    margin-left: 0.5em;
    color: var(--blue-600);
}

.footer-link:hover {
    transition: all 0.3s ease;
    color: var(--blue-700);
}

/*showcase vector animations*/
.showcase-graphics {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

#avatar {
    width: 17em;
}

.skin-color{fill:#F1C27C;}
.shirt-color{fill: var(--shirt-color);}
.fade{fill:url(#fade-gradient);}
.light-shadows{opacity:0.1;}
.dark-shadows{opacity:5.000000e-002;}
.very-light-outlines{opacity:0.1;}
.light-outlines{opacity:0.15;}
.medium-outlines{opacity:0.2;}
.shirt-logo{fill: var(--blue-700);}

#lightbulb {
    width: 3.5em;
    margin-bottom: 0.75em;
    opacity: 0.2;
    display: none;
}

.lightbulb-outline {fill: var(--black);}
.lightbulb-color {fill: var(--yellow-100); opacity: 0;}
.lightbulb-shine {fill: var(--black); opacity: 0;}

#avatar,
#lightbulb,
.lightbulb-color {
    transition: all 0.5s ease;
}

@keyframes floating-lightbulb {
    50% {
        transform: translateY(-0.2em);
    }
}

/*mobile styles, header*/
header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 3.5rem;
    box-shadow: 0 0.125rem 0.375rem 0 rgba(0,0,0,.12);
}

.header-logo {
    height: 2rem;
    cursor: pointer;
    vertical-align: middle;
}

.nav-open-overlay {
    display: none;
    background: rgba(0,0,0,.50);
    position: fixed;
    z-index: 90;
    width: 100%;
    height: 100%;
}

.side-menu-bg {
    transform: translateX(-100%);
    z-index: 95;
    background: var(--white);
    position: fixed;
    width: 50%;
    height: 100%;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2);
    transition: all  0.2s cubic-bezier(.4,0,.2,1);
}


.active.nav-open-overlay { /* display when hamburger is clicked */
    display: block;
}

.active.side-menu-bg { /* display when hamburger is clicked */
    transform: translateX(0%);
}

.nav-menu {
    transform: translateX(-100%);
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    padding-top: 3.5rem;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active.nav-menu { /* display when hamburger is clicked */
    transform: translateX(0%)
}

.nav-menu ul {
    padding: 2em 0 2em 10%;
}

.nav-menu li {
    margin-bottom: 1em;
}

/*mobile styles, showcase section*/
.showcase {
    height: 100vh;
    min-height: 568px;
    width: 100%;
}

#particles-js {
    z-index: 2;
    position: absolute;
}

#showcase {
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    align-items: center;
    justify-content: space-evenly;
}

.showcase-content {
    text-align: center;
    z-index: 5;
}

.showcase-icon-list {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5em;
    padding-top: 1em;
}

.showcase-icon {
    width: 1.6875em;
    fill: var(--blue-400)
}

.showcase-icon:hover {
    transform: translateY(-0.1em) scale(1.05);
    transition: all 0.25s ease 0s;
    fill: var(--blue-500);
}

/* mobile styles, welcome section */
.welcome-section {
    border-radius: 3em 3em 0 0;
    padding: 7.5em 5% 6em 5%;
    background-color: var(--white);
    position: relative;
}

.welcome-content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.bg-text {
    width: 100%;
    max-width: 850px;
    fill: var(--bg-text-color);
}

@keyframes float {
    50% {
        transform: translateY(-0.4em);
    }
}

.welcome-text {
    z-index: 2;
    padding: 0 5%;
    margin-top: -8%;
    max-width: 700px;
}

/* mobile styles, sections (general) */
.section {
    padding: 4em 5% 0.5em 5%;
    background-color: var(--white);
}

.section-content {
    width: 100%;
    margin: 0 auto;
}

/* mobile styles - about section */
#about .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img {
    width: 100%;
    max-width: 21em;
}

/* mobile styles, projects section */
#projects {
    border-radius: 0 0 3em 3em;
}

.project-filters {
    margin-top: 0.5em;
}

input[type="radio"] {
    display: none;
}

.project-filter {
    font-size: 0.875em;
    display: inline-block;
    border: 1.5px solid var(--grey);
    color: var(--grey);
    padding: 0.25em 1em;
    border-radius: 1em;
    margin-bottom: 4px;
    cursor: pointer;
}

.project-filter:hover,
input[type="radio"]:checked + .project-filter {
    border-color: var(--blue-700);
    background-color: var(--blue-700);
    color: var(--white);   
}

.projects-container {
    width: 100%;
    padding-top: 2em;
}

.project-card {
    margin-bottom: 2.5em;
    display: flex;
    flex-direction: column;
}

.project-card.hide {
    display: none;
}

.project-card-image {
    width: 100%;
    height: 12em;
    box-shadow: -8px 8px 47.43px 3.57px rgba(8,7,12,0.11);
    position: relative;
}

.project-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card-image::before {
    content: "";
    width: 1rem;
    height: 75%;
    top: 50%;
    left: -.5rem;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    background: var(--blue-300);
    z-index: 2;
}

.project-card-body {
    padding: 1em 0;
    width: 100%;
}

.project-card-date {
    padding-top: 0.25em;
}

.fa-calendar {
    font-size: 1em;
    margin-right: 0.3em;
    color: var(--grey);
}

.hr-container {
    display: flex;
    align-items: center;
    max-width: 18em;
    padding-top: 1em;
}

.thick,
.thin {
    width: 50%;
    height: 1px;
    border: 0;
    transition: all 0.5s ease;
}

.thick {
    border-top: 5px solid var(--blue-300);
}

.thin {
    border-top: 1px solid var(--black);
}
  
.project-card-skills {
    margin-bottom: 1em;
}

.fa-external-link-alt {
    margin-left: 0.2em;
    margin-right: 1em;
}

/*mobiles styles, footer section*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 6em;
    padding: 0 5%;
}

/* mobile styles, dark mode toggle */
.dark-mode-switch {
    text-align: center;
    padding: 0.75em 0;
    border-top: 0.5px solid var(--grey);
}

.checkbox {
    display: none;
}

.label {
    background-color: #2498D6;
    border-radius: 50px;
    height: 26px;
    width: 50px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.ball {
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left:2px;
    border-radius: 50%;
    transition: transform 0.075s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.theme-icon {
    width: 1rem;
    display: inline-block;
    vertical-align: middle;
    fill: #2498D6;
}

/* mobile styles, hamburger menu */
.hamburger {
    width: 1.75em;
    height: 1.75em;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.line {
    width: 100%;
    height: .15em;
    background-color: var(--black);
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
}

.line::before,
.line::after {
    content: "";
    position: absolute;
    height: .15em;
    background-color: var(--black);
    border-radius: 3px;
    transition: all 0.1s ease-in-out;
}

.line::before {
    width: 60%;
    transform: translateY(-.60em);
}

.line::after {
    width: 75%;
    transform: translateY(.60em);
}

/* mobile styles, hamburger animation */
.active .line {
    background: transparent;
}

.active .line::before {
    width: 100%;
    transform: rotateZ(-45deg);
}

.active .line::after {
    width: 100%;
    transform: rotateZ(45deg);
}

/*media queries*/
/*small tablet styles & landscape phones*/
@media (min-width: 620px) {
    .project-card {
        flex-direction: row;
    }

    .project-card-image {
        max-width: 12em;
        margin-right: 1.5em;
    }

    .project-card-body {
        padding: 0;
    }
}

/*large tablet & small laptop styles*/
@media (min-width: 768px) {
    body {
        font-size: 100%;
    }

    #showcase,
    #about .section-content {
        flex-direction: row;
    }

    .about-text {
        padding-right: 1em;
    }

    .about-img {
        width: 40%;
    }
    
    .hamburger,
    .active.nav-open-overlay,
    .side-menu-bg {
        display: none;
    }

    .nav-menu {
        transform: translateX(0%);
        transition: none;
        padding-top: 0;
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 2em;
        flex-direction: row;
        align-items: center;
    }
    
    .nav-menu ul {
        padding: 0;
    }
    
    .nav-menu li {
        margin-right: 1em;
        display: inline;
    }

    .dark-mode-switch {
        padding: none;
        border-top: none;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

/*laptop & desktop styles*/
@media (min-width: 1200px) {
    body {
        font-size: 112.5%;
    }

    #avatar {
        filter: brightness(0.93);
    }

    #lightbulb.lightbulb-on {
        opacity: 1;
        animation: floating-lightbulb 2.5s infinite ease-in-out;
    }

    #lightbulb {
        display: initial;
    }

    .bg-text {
        animation: float 3s infinite ease-in-out;
    }
    
    .section-content {
        max-width: min(1150px, 80vw);
    }

    .project-card-image {
        margin-right: 2em;
    }

    .project-card:hover .thick {
        width: 100%;
    }
    
    .project-card:hover .thin {
        width: 0;
    }
}

/*large desktop styles*/
@media (min-width: 1600px) {
    body {
        font-size: 125%;
    }

    header {
        height: 4rem;
    }

    .logo {
        height: 2.5rem;
    }

    .nav-link {
        font-size: 1.25rem;
    }

    #showcase {
        font-size: 125%;
        padding-top: 4rem;
    }
}